@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
@import url("https://use.typekit.net/oiz5icx.css");
@import url("https://use.typekit.net/oiz5icx.css");
@import url("https://use.typekit.net/oiz5icx.css"); 
@import url("https://use.typekit.net/oiz5icx.css");

html {
  --color-main: #FF00B1;
  --color-main-lighter: #C77DFF;
  --color-text: #191819;
  --color-text-lighter: #F7EDF7;
  --color-background: #CACCCE;
  --font-display: 'rig-solid-bold-reverse', sans-serif;
  --font-text: 'Space Grotesk', sans-serif;
}

mark{
    color:white;
    background-color:#FF00B1;
}
.cover .cover__heading {
  color: #fafafa;
}
.cover .cover__title {
  font-size: 80px;
  word-wrap: break-word;
}
.cover .cover__subtitle {
  word-wrap: break-word;
}

.cover .authors {
  color: #fafafa;
}

svg {
    
}

p.border {
    border-style: solid;
    border-color: #FF00B1;
    padding: 1%;
}

/*
.img-position {
    position: absolute;
    visibility: hidden;
    max-width: 14%;
    left: 20%;
    top: 72%;
}*/
