@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
html {
  --color-main: #00ff8b;
  --color-main-lighter: #0068FF;
  --color-text: #F9F9F9;
  --color-text-lighter: #DDDDDD;
  --color-background: #1b203c;
  --font-display: 'Space Grotesk', sans-serif;
  --font-text: 'Nanum Gothic', sans-serif;
}
